{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}


{% block title %} {{ 'changePassword'|trans }} {% endblock %}

{% block custom %}

{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h3 id="modifier"> {{ 'changePassword'|trans }} </h3>

    {# ici on affiche chaque élément du formulaire #}
    <p id="valid-passwords"> {{ 'invalidPassword'|trans }}</p>
    {{ form_row(form.oldPassword, {'label': 'form.oldPassword'|trans, 'attr': {placeholder: 'form.oldPassword'|trans}}) }}
    {{ form_row(form.newPassword, {'label': 'form.newPassword'|trans, 'attr': {placeholder: 'form.newPassword'|trans}}) }}
    {{ form_row(form.confirmPassword, {'label': 'form.confirmPassword'|trans, 'attr': {placeholder: 'form.confirmPassword'|trans}}) }}

    <div id="modifier-annuler-profil">
        {{ form_row(form.submit, {'label': 'updateProfile'|trans, 'attr': {placeholder: 'updateProfile'|trans}}) }}
        <div class="mb-3">
            <a href="{{ path('profile') }}" type="button" class="btn btn-danger btn-annuler"
               id="js-annuler-formulaire-profil">
                {{ 'cancel'|trans }}
            </a>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
